.MultipleChoice{

  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;

  margin: 20px;

  align-items: center;
  justify-content: center;

  background-color: blueviolet;

  border-radius: 20px;

  width: 100%;
}

.MultipleChoice .Choice{
  margin: 5pt;
}
