.app {
  background-color: #dddddd;

  padding: 0;
  min-height: 100vh;

  display: flex;

  flex-direction: column;
}

.app-header {
  padding-top: 10pt;
  padding-bottom: 10pt;
  padding-left: 25pt;
  padding-right: 25pt;

  max-height: inherit;

  display: flex;


  /*
  flex-direction: column;
  align-items: center;
  justify-content: center;
*/
  /*949494 b4b4b4*/
  background-color: #aaaaaa;
}

.app-header p {
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 18pt;
  font-family: System, Arial;
}


.Form{

}



.app-footer {

  display: flex;

  align-items: center;
  justify-content: center;



  bottom: 0;
  width: 100%;
}

.app-footer p {

  align-self: center;

  display: flex;

  align-items: center;
  justify-content: center;
}
