.Choice{

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: brown;

  position: relative;

  width: 90%;
  border-radius: 15pt;

  margin-left: 20px;
  margin-right: 20px;

  margin-bottom: 2px;

  padding-right: 20pt;
  padding-left: 20pt;

  padding: 20pt;

  color: black;

}

.Choice p{
  display: inline;
  align-self: center;

  margin-right: 20pt;

  color: black;

  font-size: 16pt;
}

.Choice:hover{
  background-color: yellow;
}

.Choice img{
  width: 200px;
}

.selected{ background-color: red; }
.unselected{ background-color: green;}
